*{
    padding: 0px;
    margin: 0px;
    /*box-sizing: border-box;*/
 }
 
 .container{
    background-color: aquamarine;
    height: 100vh;
    padding:0px;
    background-image: url(./portada2.png);
    background-size: cover;
 
   
 
 }
 .container
 .line{
     position: relative;
    width:650px;
    height:400px;
    display: block;
    top: 100px;
    left: 300px;

 }
 .line h2{
    font-size: 25px;
    text-align: center;
    display: block;
    position: absolute;
    top: 35%;
    left: 60%;
    font-family: Arial;
    color: rgb(38, 206, 38);

 }
 .line h1{
    font-size: 30px;
    text-align: center;
    display: block;
    position: absolute;
    top: 20%;
    left: 55%;
    font-family: Arial;
    color: blue;

 }
 .line li{
    font-size: 15px;
    text-align: justify;
    position: absolute;
    top: 50%;
    left:50%;
    font-family: Arial black;
 }

